div{
  height: 500px;
  width: 200px;
  background-color: pink;
  border-width: 2px;
  border-style: solid;
  border-color: blueviolet;
  border-radius: 5px;
  border-top: 7px dashed yellowgreen;
  border-bottom: 3px dotted greenyellow;
}

h1{
    border-style: dotted;
    border-color: bisque;
    border-width: 5px;
    border-bottom: 5px dashed paleturquoise;
}
